html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
body{
	font-family:標楷體;
	color:#000;
}

/*layout*/
.wrap{
	width: 1024px;
	margin: 0 auto;
		font-weight: bold;
}
.top1{
	background-color: rgba(0, 0, 0, 0.6);
height: 100px;
width: 1024px;
}
.top1 img{
float: left;
margin:30px 0 0 60px;
}

.top1 ul{
	float:right;
	margin:40px 50px 35px 0;
}
.top1 li{
	float:left;
	padding-left: 50px;
	font-size: 20px;
	color:gray;
}
.ha a{
	text-decoration: none;
}
.ha a:hover{
	border-bottom: 5px solid #00cc99;
	color: #00cc99;
	display: block;
	height: 25px;
	cursor: pointer;
}
.ha2:hover{
	display: block;
	height: 25px;
	cursor: pointer;
}
.box{
	width: 500px;
	padding-top : 260px;
	padding-left: 80px;
	line-height: 1.5;
	color: #00cc99;
	font-size: 36px;
}
.bp1{
	color:#ffff;
	font-size: 36px;
}
.box1{
	background: #00cc99;
	border-radius: 5px;
	color: #fff;
	width: 130px;
	height: 30px;
	text-align: center;
	font-size:18px;
	padding: 5px;
	margin:25px 0 0 85px;
}
.box1 a{
text-decoration: none;
}
.box1 a:hover{
	display: block;
	height: 25px;
	cursor: pointer;
}
.content{
	width: 1024px;
}
.footer{
width: 1024px;
height: 132px;
background-image: url(../images/footer.png);
}
.footerlog{
	margin:50px 0 20px 50px;
	float: left;
}
.footer p{
	margin-top: 5px;
	margin-left: 30px;
	color:gray;
	font-size:14px;

}
.footer a{
text-decoration: none;
}
.footer ul{
	float: right;
}
.footer li{
	float: left;
	margin: 60px 40px 20px 20px;
}

.footer a:hover{
	display: block;
	height: 25px;
	cursor: pointer;
}
/*index */
.header1{
background-image: url(../images/header1.png);
width: 1024px;
height: 560px;
background-size: cover;
}
.intro h1{
color:#00cc99;
font-size:36px;
margin:20px;
float: left;
}
.intro span{
	color: gray;
	font-size: 18px;
	margin:20px;
}
.introa1{
	border-radius:3px;
	border:1.5px solid #00cc99;
	font-size: 25px;
	color: #00cc99;
	text-decoration: none;
	float: right;
	padding: 10px;
	margin:20px 40px 20px 40px;
}
.introa1:hover{
	display: block;
	height: 25px;
	cursor: pointer;
}
.intro ul{
	float: right;
}
.intro li{
	float: left;
	width: 300px;
	height: 276px;
	margin:10px 20px 10px 20px;
padding: 20px;
text-align: center;
	border-radius: 3px;
	box-shadow:0 5px 5px 5px  gray;
}
.intro h2{
	color:#4a4a4a;
	font-size: 30px;
	margin-top: 10px;
}
.intro p{
	color:#b2b2b2;
	font-size: 16px;
	margin-top: 10px;
	line-height: 1.5;
}
.intro2 h1{
color:#00cc99;
font-size:36px;
margin:30px 0 0 20px;
}
.intro2 span{
	color: gray;
	font-size: 18px;
}
.list{
	width: 1024px;
	margin: 0 auto;
	margin-top:20px;
	margin-bottom:60px;
	font-family: 標楷體;
}
.list tr{
border-bottom: 1px solid #ebebeb ;
font-weight: bold;
text-align: center;
}
.list th{
	background: #ebebeb;
	padding:10px;
	color:#000;
}
.list td{
	padding:10px;
}
.box2{
	width: 1024px;
	height: 300px;
	margin: 0 auto;
	background: #ebebeb;
}
.box2 p{
	font-size:28px;
	padding: 80px 0 0 70px;
	line-height: 1.9;
	float: left;
}
.style3 {
	float:right;
	margin-top: 70px;
	margin-right: 140px;
}
.style4{
	width: 400px;
	height: 50px;
	border-radius: 5px;
	margin-top: 10px;
	letter-spacing: 15px;
	float: left;
	display: block;
}
.style5{
	width: 120px;
	height: 50px;
	background: #00cc99;
	color: #fff;
	font-size: 20px;
	border-radius: 5px;
	margin-top: 10px;
	float: right;
	display: block;
}
.style5:hover{
	display: block;
	height: 25px;
	cursor: pointer;
}
/*course*/

.header2{
	width: 1024px;
	height: 560px;
	background-image: url(../images/cc.png);
	font-weight: bold;
	padding-right: 60px;
	background-size: cover;
}
.banner1 h1{
	padding-top: 100px;
	padding-left: 50px;
	color: #fff;
	font-size: 48px;
}
.banner1 p{
	color: #00cc99;
	font-size: 20px;
	margin-top: 10px;
	padding-left: 60px;
	margin-bottom: 50px;
}
.banner2{
	background: #00cc99;
	border-radius: 5px;
	color: #fff;
	margin-left: 60px;
	font-weight: bold;
	font-size:22px;
	padding: 10px;
	text-decoration: none;
}

}
.banner2:hover{
	display: block;
	height: 25px;
	cursor: pointer;
}
.banner1 img{
	width: 93px;
	height: 132px;
	float: right;
	margin: 30px 30px 0 0 ;
}
.banner3 img{
float: left;
width: 220px;
height: 220px;
margin: 40px 0 40px 140px;
}
.teacher{
	float: left;
	margin: 115px 0 40px 80px;

}
.teacher h1{
	color: #00cc99;
	font-size: 36px;
	margin-bottom: 10px;
}
.teacher span{
	color: #000;
	font-size: 36px;
}
.banner3 ul{
	float: left;
	margin: 70px 0 0 120px;
}
.banner3 li{
	color: #b2b2b2;
	font-size: 26px;
	margin-bottom: 10px;
	padding-left: 40px;
  	list-style: disc;

}
.qq{
	float: left;
	color: #00cc99;
	font-size: 36px;
	margin: 40px 0 20px 80px;
} 
.qq span{
	color: #b2b2b2;
	font-size: 22px;
}
.menu ul{
	  	list-style: decimal;
	  	margin-bottom: 40px;
	  	margin-left: 120px;

}
.menu li{
	margin-bottom: 10px;
	  		padding:0 450px 0 10px;
}
.qq2{
	color: #00cc99;
	font-size: 36px;
	margin: 20px 0 20px 80px;
} 
.qq2 span{
		color: #b2b2b2;
	font-size: 22px;
}
.menu2 table{
	margin: 0 auto;
	text-align: left;
	text-indent: 56px;
	margin-bottom: 40px;
}
.menu2 th{
	background: #ebebeb;
	padding: 10px 350px 10px 0;
	color: #000;
	font-size: 28px;
}
.menu2 td{
	padding: 10px 350px 10px 0;
	color: #b2b2b2;
	font-size: 28px;
}
.menu3{
	background: #ebebeb;
	width: 1024px;
	height: 396px;
	float: left;
	padding: 140px 0 0 140px;
}
.menu3 h1{
	font-size: 36px;
	color:#000;
	margin-bottom: 20px;

}
.menu3 span{
	color:#000;
	font-size: 36px;

}
.qq3{
	font-size: 24px;
	background: #00cc99;
	text-decoration: none;
	color: #fff;
	margin-left: 40px;
	border-radius: 5px;
	padding: 10px 20px 10px 20px;
}
.qq3:hover{
	display: block;
	height: 15px;
	cursor: pointer;
}
/*faq*/
.header3{
	width: 1024px;
	height: 560px;
	background-image: url(../images/header3.png);
	background-size: cover;
	margin-bottom: 40px;
}
.headerqq1{
	margin: 80px 0 0 220px;
}
.headerqq1 h1{
	color:#fff;
	font-size: 36px;
	margin: 0 0 10px 135px;
}
.headerqq1 p{
	color:#00cc99;
	font-size: 24px;
	margin-left: 100px;
	margin-bottom: 50px;
}
.headerqq1 input{
	width: 600px;
	height: 35px;
	border-radius: 5px;
	position: relative;
}
.headerqq1 img{
	position: absolute;
	right:455px;
	margin-top: 3.5px;
	  cursor: pointer;
	  	border-radius: 5px;
}
.contentfq{
	margin: 0 90px 0 90px;
} 
.contentfq1 h1{
	float: left;
	color:#00cc99;
	font-size: 36px;
	margin-bottom: 30px;
}
.contentfq1 span{
	color:#9b9b9b;
	font-size:24px;
	padding-top: 10px;
}
.contentfq2{
	float: left;
}
.contentfq2 h2{
	color:#000;
	font-size: 24px;
	margin-bottom: 10px;
}
.contentfq2 p{
	color:#9b9b9b;
	font-size: 18px;
	margin-bottom: 30px;
	line-height: 1.5;
}
.contentfq2 span{
	color:#00cc99;
}
.contentfq3 h1{
	float: left;
	color:#00cc99;
	font-size: 36px;
	margin-bottom: 30px;
}
.contentfq3 span{
	color:#9b9b9b;
	font-size:24px;
	padding-top: 10px;
}
.contentfq4{
	float: left;
}
.contentfq4 h2{
	color:#000;
	font-size: 24px;
	margin-bottom: 10px;
}
.contentfq4 p{
	color:#9b9b9b;
	font-size: 18px;
	margin-bottom: 30px;
	line-height: 1.5;
}
.contentfq4 ul{
	margin-top: -20px;
}
.contentfq4 li{
	color:#9b9b9b;
	font-size: 18px;
	list-style-type:decimal;
	line-height: 1.2;
	padding-left: 10px;
	margin-left: 60px;
}
.contentfq4 span{
	color:#00cc99;
}
.contentfq5 h1{
	float: left;
	color:#00cc99;
	font-size: 36px;
	margin-bottom: 30px;
}
.contentfq5 span{
	color:#9b9b9b;
	font-size:24px;
	padding-top: 10px;
}
.contentfq6{
	float: left;
}
.contentfq6 h2{
	color:#000;
	font-size: 24px;
	margin-bottom: 10px;
}
.contentfq6 p{
	color:#9b9b9b;
	font-size: 18px;
	margin-bottom: 30px;
	line-height: 1.5;
}
.contentfq6 span{
	color:#00cc99;
}
.contentfq6 ul{
	margin-top: -20px;
}
.contentfq6 li{
	color:#9b9b9b;
	font-size: 18px;
	list-style-type:disc;
	line-height: 1.2;
	padding-left: 20px;
	margin-left: 60px;
}
.contentfq7{
	float: left;
}
.contentfq7 h1{
	color:#000;
	font-size: 20px;
	margin-bottom: 10px;
}
.contentfq7 p{
	color:#9b9b9b;
	font-size: 16px;
	margin-bottom: 30px;
	line-height: 1.5;
}
.contentfq7 ul{
	margin-top: -20px;
}
.contentfq7 li{
	color:#9b9b9b;
	font-size: 18px;
	list-style-type:disc;
	line-height: 1.2;
	padding-left: 20px;
	margin-left: 60px;
}
.contentfq8{
	background: #ebebeb;
	width: 1024px;
	height: 420px;
}
.contentfq8 h1{
	float: left;
color: #000;
font-size: 24px;
padding: 100px 50px 0 80px;
line-height: 1.5;
}
.contentfq9{
float: left;
margin-top: 50px;
margin-left: 150px;
}
.contentfq10{
	color: #000;
	border-radius: 5px;
	width: 400px;
	padding: 10px;
	margin-top: 10px;
}
.contentfq9 textarea{
	color: #000;
	border-radius: 5px;
	width: 400px;
	padding: 10px;
	margin-top: 10px;
}
.enter{
	width: 80px;
	background :#00cc99;
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	margin-left: 320px;
	margin-top: 10px;
}
.clearfix{
	clear:both;
}